 <div class="sub-footer">
    <div id="skin-switch-container">
       <select id="skin-switch" onchange="changeSkin()">
          <option value="style.css">light</option>
          <option value="dark.css">dark</option>
        </select>
      </div>
    </div>


<script>
    document.getElementById("skin-switch-container").style.display = "block";
    var metaTag = document.getElementById("stylesheet");
    var SSHref = metaTag.href;
    var SSName = (SSHref.substring(SSHref.lastIndexOf('/') + 1));

    document.getElementById("skin-switch").value = SSName;

    function changeSkin() {
      metaTag.href = SSHref.replace(SSName, event.target.value);
    }
  </script>